{erl_opts, [debug_info, warn_missing_spec]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_compile_opts, [{d, 'TESTING'}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "4fcb8fd40f"}}
       ]}.

{erl_opts, [{parse_transform, lager_transform}]}.


{xref_warnings, true}.
{xref_strict, false}.
{xref_checks, [
				deprecated_functions,
				deprecated_function_calls,
				undefined_function_calls,
			    locals_not_used
]}.

